@import '../../../styles/variables.scss';

.find-out-next-book-card {
    .book-name {
        color: $book-name;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.6rem;
    }

    .book-author {
        color: $book-name;
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
    }

    @media only screen and (max-width: 575px) {
        .img-center-for-extra-small-device {
            width: 85%;
            margin: 0 auto;
        }
    }
}
