$header-bg: white;
$header-area-box-shadow: rgba(0, 0, 0, 0.15);

$navbar-text: #5f6368;
$navbar-border-bottom: #9c1f23;

$subscribe-area-bg:  #EEEEEE;

$book-name: #363636;
$book-author: #363636;

$video-gallery-bg:#f8f8f8;

$guardian-writers-bg: #eeeeee;
$message-to-guardian-bg: white;
$message-to-guardian-btn-bg:#888888;

$footer-bg: #363636;
$footer-text: white;

$facebook-icon: white;